<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DipesLink.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DipesLink.Properties.Settings>
            <setting name="SoftwareVersion" serializeAs="String">
                <value>1.0.0.0.20240719</value>
            </setting>
            <setting name="SoftwareName" serializeAs="String">
                <value>DP-Link</value>
            </setting>
        </DipesLink.Properties.Settings>
    </applicationSettings>
</configuration>